<header class="site-header horizontal-boundary horizontal-boundary--outer">
  <a class="site-logo" href="/"><img src="{{ site.url }}/assets/img/logo.svg" alt="Fluffy Philharmonic" /></a>
  <nav>
    <a href="/stories">Stories</a>
    <a href="/musicians">Musicians</a>
    <a href="/stickerography">Stickerography</a>
  </nav>
</header>
