<header class="site-header">
  <a class="site-logo" href="/"><img src="{{ site.url }}/assets/img/logo.svg" alt="Fluffy Philharmonic" /></a>
  <nav>
    <a href="/stories">Life at FP</a>
    <a href="/musicians">Musicians</a>
    <a href="https://redviolapanda.com">Store</a>
  </nav>
</header>
