<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ renderData.title or title }} | {{ metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <meta name="author" content="{{ metadata.author.name }}">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="alternate" href="{{ metadata.feed.url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#002910">
    <meta name="msapplication-TileColor" content="#ffffee">
    <meta name="theme-color" content="#ffffee">

    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    <meta property="og:image" content="{{ metadata.url }}/assets/img/{{ og or metadata.image }}">
    <meta property="og:type" content="{{ renderData.type or type or metadata.type }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ metadata.twitter }}" />

    <meta name="google-site-verification" content="a7_j-Jd-z9HbRXaSCkX-oNiHRkP5CAJ4mbOffHDvV90">

    <link rel="preload" href="/assets/fonts/metro-nova-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/volkhov-bold.woff2" as="font" type="font/woff2" crossorigin>

    <script async src="https://fluffy-analytics.herokuapp.com/script.js" data-website-id="d86ff6a1-2288-43b9-9140-caba325f2245"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="{{ css }}">
    {% include '_header.njk' %}
    {{ content | safe }}
    {% include '_footer.njk' %}
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>
