// Fonts
@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-regular.woff2') format('woff2'),
       url('../fonts/karla-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-bold.woff2') format('woff2'),
       url('../fonts/karla-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-italic.woff2') format('woff2'),
       url('../fonts/karla-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Volkhov';
  src: url('../fonts/volkhov-bold.woff2') format('woff2'),
       url('../fonts/volkhov-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$base-font: 'Karla', sans-serif;
$heading-font: 'Volkhov', serif;

// Responsive typography
$min-width: 320;
$max-width: 1280;
$min-font: 18;
$max-font: 24;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// General styles
:root {
  --main: #f7fff7;
  --alt: #002910;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-font;
  background-color: var(--main);
  color: var(--alt);
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin: auto;
}

main {
  flex: 1;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  margin-bottom: 0.5rem;
}

ul,
p {
  line-height: 1.33;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}

img,
iframe {
  max-width: 100%;
}

// Shared component styles
.site-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  text-align: center;

  img {
    width: 12em;
  }

  a {
    border-bottom: 0;
  }

  nav {
    margin-left: auto;

    a {
      color: var(--alt);
      padding: 0.5rem;
      display: inline-block;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 44rem) {
    flex-wrap: wrap;
    justify-content: center;

    nav {
      margin-left: initial;
    }

    img {
      margin-bottom: 0.5em;
    }
  }
}

.site-logo {
  flex: none;
}

.site-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

// Page-specific styles
.home {
  .about--img {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 50rem) {
    .about {
      display: flex;
      align-items: center;

      .about--img {
        flex: 0 0 50%;
        margin-right: 1em;
        margin-bottom: 0;
      }

      .about--txt {
        flex: auto;
      }
    }
  }

  .news {
    ul {
      list-style: none;
    }
  }
}

body.max-width {
  main {
    max-width: 40rem;
    margin: auto;
  }

  h1 {
    text-align: center;
  }
}

.gallery {
  h2 {
    font-family: $base-font;
    font-size: 1.15em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  li {
    padding: 0.5rem;
    max-width: 17rem;

    img {
      border-radius: 4px;
      width: 100%;
    }
  }
}

.stories {
  ul {
    list-style: none;
    display: flex;

    img {
      width: 100%;
    }

    a {
      border-bottom: 0;
    }
  }

  li {
    margin: 0.5rem;
    flex: 0 0 15rem;
  }
}

.post {
  h1 {
    text-align: center;
  }

  ul {
    margin-left: 1rem;
  }

  .comic {
    display: block;
    margin: 1rem auto;
  }
}

.post-image {
  box-shadow: 3px 3px 0px 3px powderblue;
  border-radius: 4px;
}

.musicians {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    flex: 12rem;
    box-shadow: 1px 1px 2px 1px currentColor;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 4px;
  }

  .musician-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    img {
      margin-right: 1rem;
    }

    p {
      font-style: italic;
    }
  }

  @supports (gap: 1rem) {
    ul {
      gap: 1rem;
    }

    li {
      margin: 0;
    }
  }
}
