// Fonts
@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-regular.woff2') format('woff2'),
       url('../fonts/karla-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-bold.woff2') format('woff2'),
       url('../fonts/karla-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla-italic.woff2') format('woff2'),
       url('../fonts/karla-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Volkhov';
  src: url('../fonts/volkhov-bold.woff2') format('woff2'),
       url('../fonts/volkhov-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

$base-font: 'Karla', sans-serif;
$heading-font: 'Volkhov', serif;

// Responsive typography
$min-width: 320;
$max-width: 1280;
$min-font: 18;
$max-font: 24;

:root {
  font-size: #{$min-font}px;
}

@media (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ( (100vw - #{$min-width}px) / ( #{$max-width} - #{$min-width})));
  }
}

@media (min-width: #{$max-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

// General styles
:root {
  --main-bg: #f7fff7;
  --main-fg: #002910;
  --highlight: powderblue;
  --shneeu: #e1f8fb;
  --card-bg1: #fdf5ec;
  --card-bg2: #ffe;
  --pack-bg1: lightgoldenrodyellow;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $base-font;
  background-color: var(--main-bg);
  color: var(--main-fg);
  max-width: 60rem;
  margin: auto;
  min-width: 20rem;
}

main {
  flex: 1 0 auto;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: $heading-font;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

ul,
p {
  line-height: 1.33;
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px dashed currentColor;
}

img,
iframe {
  max-width: 100%;
}

// Page layout styles

// all pages take full-width
// content takes content max widths inside
body {
  max-width: none;

  main {
    padding: 0;
    // pushes the footer to the bottom when the page content is short
    min-height: calc(100vh 
                    - 140px /** header height */
                    - 2rem /** header padding */ 
                    - 24px /** footer height */
                    - 1rem /** footer padding */);
  }
}

.horizontal-boundary {
  margin: auto;
  padding: 1rem;
  &--outer {
  // outer content width
  // used by nav and page layout
    max-width: 60rem;
  }
  &--content {
  // reading content width
  // used by texts or content blocks
    max-width: 40rem;
    margin: auto;
  }
}

// Site component styles
.site-header {
  padding: 1rem;
  text-align: center;
  flex: none;

  img {
    width: 12em;
  }

  a {
    border-bottom: 0;
  }

  nav {
    margin-left: auto;

    a {
      color: var(--main-fg);
      padding: 0.5rem;
      display: inline-block;
      border-bottom: 2px solid transparent;
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        width: 200%;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(-70deg, transparent 20%, white 0, white 27%, var(--highlight) 0);
        transform: translateX(-100%);
        transition: transform 200ms ease-in;
        z-index: 0;
      }
    }

    a:hover::before {
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 42.5rem) {
  .site-header {
    display: flex;
    align-items: center;
  }
}

.site-logo {
  flex: none;
}

.site-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

.highlight {
  box-shadow: 3px 3px 0 3px var(--highlight);
  border-radius: 4px;
}

.kaomoji {
  white-space: nowrap;
}

[class^='button'] {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid currentColor;
  transition: background-color 250ms ease, color 250ms ease;
  display: inline-block;

  &:hover {
    background-color: var(--main-fg);
    color: var(--main-bg);
  }
}

.button-small {
  font-size: 85%;
}

.u-align-right {
  text-align: right;
}

.u-sr-only {
  position: absolute;
  opacity: 0;
}

.u-aspect-ratio {
  width: 100%;
  height: auto;
}

// Page-specific styles
.home {
  .about--img {
    margin-bottom: 1rem;
    text-align: center;
  }

  .stories,
  .news h3 {
    text-align: center;
  }

  .stories a {
    border-bottom: 0;
  }

  .news li {
    display: flex;
  }

  .news li::before {
    content: '🎶';
    margin-right: 0.5em;
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji';
  }
}

@media screen and (min-width: 47rem) {
  .home {
    main {
      display: flex;
      flex-wrap: wrap;
    }

    .about {
      flex: 1 0 100%;
    }

    .stories {
      flex: 1 0 50%;
    }

    .news {
      flex: 1 0 50%;
    }

    @supports (display: grid) {
      main {
        display: grid;
        grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
        gap: 1em;
        justify-items: center;
      }

      .about {
        grid-column: span 2;
      }
    }
  }
}

@media screen and (min-width: 50rem) {
  .home {
    .about {
      display: flex;
      align-items: center;

      .about--img {
        flex: 0 0 50%;
        margin-right: 1em;
        margin-bottom: 0;
      }

      .about--txt {
        flex: auto;
      }
    }
  }
}



.stories {
  ul {
    img {
      width: 100%;
    }

    a {
      border-bottom: 0;
    }
  }
}

@media screen and (min-width: 23rem) {
  .story-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .story-grid li {
    flex: 12rem;
  }

  @supports (display: grid) {
    .story-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
      gap: 1em;
    }

    .story-grid li {
      margin: initial;
    }

    .story-grid li a {
      width: 100%;
    }
  }

  @supports (gap: 1rem) {
    .story-grid {
      gap: 1rem;
    }

    .story-grid li {
      margin: 0;
    }
  }
}

.shneeu-wrapper {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.shneeu-wrapper div {
  overflow: hidden;
  position: relative;
  background-color: var(--card-bg2); // todo: take out
}

.shneeu-wrapper div::before {
  content: '';
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-70deg, transparent 20%, white 0, white 27%, var(--shneeu) 0);
  transform: translateX(-100%);
  transition: transform 250ms ease-in;
  z-index: 0;
}

.shneeu-wrapper:hover div::before {
  transform: translateX(0);
}

.shneeu-wrapper div > * {
  position: relative;
}

.post {
  h1 {
    text-align: center;
  }

  ul {
    margin-left: 1rem;
    list-style: initial;
  }

  .comic {
    display: block;
    margin: 1rem auto;
  }
}

.musicians {
  ul {
    list-style: none;
  }

  li {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--card-bg1);
    position: relative;
    overflow: hidden;
  }

  li::before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-70deg, transparent 20%, white 0, white 27%, var(--shneeu) 0);
    transform: translateX(-100%);
    transition: transform 250ms ease-in;
    z-index: 0;
  }

  li:hover::before {
    transform: translateX(0);
  }

  .musician {
    margin-bottom: 0.25rem;
    position: relative;
    text-align: center;

    img {
      box-shadow: 2px 4px 0 3px var(--highlight);
      border-radius: 50%;
      margin-bottom: 1rem;
    }

    p {
      font-style: italic;
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 23rem) {
    .musician {
      display: flex;
      align-items: center;
      text-align: initial;

      img {
        margin-right: 1rem;
        margin-bottom: 0;
        flex: none;
      }
    }
  }
}

@media screen and (min-width: 23rem) {
  .musician-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .musician-grid li {
    flex: 12rem;
  }

  @supports (display: grid) {
    .musician-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
      gap: 1em;
    }

    .musician-grid li {
      margin: initial;
    }
  }

  @supports (gap: 1rem) {
    .musician-grid {
      gap: 1rem;
    }

    .musician-grid li {
      margin: 0;
    }
  }
}

.stickerography {
  section {
    padding: 1rem 0;
  }

  .sticker {
    border-bottom: 2px solid var(--main-bg);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .sticker-btn {
    text-align: right;
    max-width: calc(250px + 31rem);
  }
}

@media screen and (min-width: 40rem) {
  .sticker {
    display: flex;
    border-bottom: 2px solid var(--main-bg);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .sticker-img {
    width: 250px;
    flex: none;
  }

  .sticker-meta {
    margin-left: 1rem;
    max-width: 30rem;
  }
}
