---
layout: base.njk
css: gallery
title: The Fluffy Phil in action
---
<main>
  <div class="heading">
    <h1>{{ title }}</h1>
    <p>Have a sneak peek into the lives of our fluffy musician friends.</p>
  </div>

  <ul>
    {% for scene in scenes %}  
    <li>
      <img src="/assets/img/gallery/{{ scene.image }}.png" alt="">
      <div class="scene-txt">
        <h2>{{ scene.title }}</h2>
        <p>{{ scene.blurb }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>
