---
layout: base.njk
css: home
title: Home
---
<main>
  <section class="about">
    <div class="about--img">
      {% img2x 'fluffy-phil', 'png' %}
    </div>

    <div class="about--txt">
      <p>Formed in 2020, when a group of fluffy musician friends realised there were enough of them to form an orchestra. This diverse and fun-loving group are welcoming of new members and is constantly growing. It is no surprise that a fluffy fan club soon followed, because you don't need to play an instrument to love music.</p>
      <p>Follow along the adventures of our fluffy friends in our web comic, <a href="/stories">Life at Fluffy Phil</a>.</p>
    </div>
  </section>

  <section class="stories">
    <h3>Latest comic</h3>
    {%- for post in collections.post | limit(1) -%}
    <a href="{{ post.url | url }}">
      {% postImg 'png' %}{{ post.data.image }}{% endpostImg %}
      <p>{{ post.data.title }}</p>
    </a>
    {%- endfor -%}
  </section>

  <section>
    <h3>Latest news</h3>
  </section>
</main>
