---
layout: base.njk
css: home
title: Home
---
<main class="horizontal-boundary horizontal-boundary--outer">
  <section class="about">
    <div class="about--img">
      {% img4w 'fluffyphil', 'png', 'The Fluffy Philharmonic', 640, 574, 'u-aspect-ratio' %}
    </div>

    <div class="about--txt">
      <p>Formed in 2020, when a group of fluffy musician friends realised there were enough of them to form an orchestra. This diverse and fun-loving group are welcoming of new members and is constantly growing. It is no surprise that a fluffy fan club soon followed, because you don't need to play an instrument to love music.</p>
      <p>Follow along the adventures of our fluffy friends in our web comic, <a href="/stories">Life at Fluffy Phil</a>.</p>
    </div>
  </section>

  <section class="stories">
    <h3>Latest comic</h3>
    {%- for post in collections.post | limit(1) -%}
    <a href="{{ post.url | url }}" class="shneeu-wrapper highlight">
      <div>
        {% postImg 'png', post.data.alt %}{{ post.data.image }}{% endpostImg %}
      </div>
    </a>
    <a href="{{ post.url | url }}">
      <p>{{ post.data.title }}</p>
    </a>
    {%- endfor -%}
  </section>

  <section class="news">
    <h3>Latest headlines</h3>
    <ul>
      {%- for headline in news | limit(4) -%}
      <li>{{ headline.title }}</li>
      {%- endfor -%}
    </ul>
  </section>
</main>
