---
layout: base.njk
css: home
title: Home
---
{% include '_header.njk' %}

<main>
  <section>
    {% img2x 'fluffy-phil', 'png' %}
    <p>Formed in 2020, when a group of fluffy musician friends realised there were enough of them to form an orchestra. This diverse and fun-loving group are welcoming of new members and is constantly growing. It is no surprise that a fluffy fan club soon followed, because you don't need to play an instrument to love music.</p>
  </section>

  <section>
    <h3>Latest news</h3>
  </section>

  <section>
    <h3>Featured musician</h3>
  </section>
</main>
