---
layout: base.njk
css: musicians
title: Musicians
---
<main class="horizontal-boundary horizontal-boundary--outer">
  <div>
    <h1>{{ title }}</h1>
    <p>Much fluff. So love.</p>
  </div>

  <ul class="musician-grid">
    {% for musician in musicians %}  
    <li class="highlight">
      <a href="/musicians/{{ musician.name | lower }}" aria-label="{{ musician.name }}'s profile page">
        <div class="musician">
          <div>
            {% musicianImg %}{{ musician.image }}{% endmusicianImg %}
          </div>
          <div>
            <h2>{{ musician.name }}</h2>
            <p>{{ musician.species }}, {{ musician.mainInstrument }}</p>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</main>
