---
layout: base.njk
css: nonsenz 
title: Nonsen & Nonsen
---
<main class="horizontal-boundary horizontal-boundary--content">
  <h1>Nonsen & Nonsen</h1>
  <p>Once upon a time, there were two blob friends. We shall call them Nonsen and Nonsen.</p>
  {% img2x 'blob1', 'png', 'A green blob and a purple blob, who are friends' %}
  <p>One day, Nonsen asked Nonsen if she could draw a red panda hugging a viola. Nonsen responded in the affirmative, and this marked the start of the Wonderful World of Fluffy Musicians.</p>
  {% img2x 'blob2', 'png', 'On the left, the 2 blobs are bouncing; on the right, the 2 blobs are rolling' %}
  <p>Okay, this is actually a side project by <a href="https://weiandherviola.com/">Gao Wei</a> and <a href="https://chenhuijing.com">Chen Hui Jing</a>, but the reality is pretty close to the Nonsenz story. Wei is a violinist turned violist, and her musical explorations are the source of many of our stories and fluffy characters.</p>
  {% img2x 'blob3', 'png', 'Two blob friends leaning on each other enjoying music' %}
</main>
