---
layout: base.njk
css: stickerography
title: Stickerography
---
<main>
  <div class="horizontal-boundary horizontal-boundary--outer">
    <h1>{{ title }}</h1>
    <p>Winning folks over to the viola gang, one sticker at a time <span class="kaomoji">(๑•̀ㅂ•́)و✧</span></p>
  </div>

  <section style="background-color:lightgoldenrodyellow">
    {# put horizontal boundary inside to accommodate full-width background #}
    <div class="horizontal-boundary horizontal-boundary--outer">
      <h2>Prelude</h2>
      <ul>
        {% for sticker in stickers %}  
        <li class="sticker">
          <div class="sticker-img">
            {% stickerImg sticker.alt %}{{ sticker.slug }}{% endstickerImg %}
          </div>
          <div class="sticker-meta">
            <h3>{{ sticker.title }}</h3>
            <p>{{ sticker.date }}</p>
            <p>{{ sticker.description }}</p>
            <a class="button-small" href="https://redviolapanda.com/products/{{ sticker.slug }}">Get sticker</a>
          </div>
        </li>
        {% endfor %}
      </ul>
      <div class="sticker-pack">
        <p>Get all 4 stickers in the Prelude Sticker Pack.</p>
        <a class="button" href="https://redviolapanda.com/products/prelude-sticker-pack">Get pack</a>
      </div>
    </div>
  </section>
</main>
