---
layout: base.njk
css: stories
title: Fluffy musical interpretations
---
<main class="horizontal-boundary horizontal-boundary--outer">
  <div>
    <h1>{{ title }}</h1>
    <p>What stories do you think of when you hear these musical pieces?</p>
  </div>

  <ul class="story-grid">
    {%- for post in collections.post | reverse -%}
    <li>
      <a href="{{ post.url | url }}" class="shneeu-wrapper highlight"><div>{% postImg 'png', post.data.alt %}{{ post.data.image }}{% endpostImg %}</div></a>
      <a href="{{ post.url | url }}">
        <p>{{ post.data.title }}</p>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</main>
