---
layout: base.njk
css: stories
title: Fluffy musical interpretations
---
<main>
  <div class="heading">
    <h1>{{ title }}</h1>
    <p>What stories do you think of when you hear these musical pieces?</p>
  </div>

  <ul>
    {%- for post in collections.post -%}
    <li>
      <a href="#{{ post.url | url }}" class="shneeu-wrapper">
        <div>
          {% postImg 'png' %}{{ post.data.image }}{% endpostImg %}
        </div>
      </a>
      <p>{{ post.data.title }}</p>
    </li>
    {%- endfor -%}
  </ul>
</main>
