---
layout: base.njk
title: Oops! Not Found
permalink: 404.html
---
<main class="horizontal-boundary horizontal-boundary--outer">
  <section class="lost">
    <h1>Oops, nothing to see here</h1>
    <p>Did you get lost? Please <a href="https://twitter.com/intent/tweet?text=Hello%20@redviolapanda%2C%20I%20got%20lost%20but%20I%27m%20actually%20looking%20for...">ping us on Twitter</a> and let us know what you were looking for?</p>
    {% img2x 'lost', 'png', 'Taria the kitten wagging her tail at you', '' %}
  </section>
</main>
